/**
 * Theme Name: Vielimousine Child
 * Template: vielimousine
 * Author: Vie
 * Author URI: https://vielimousine.com
 * Requires PHP: 8.2
 * Version: 0.25.3
 * Text Domain: viechild
 * Domain Path: /languages
 */
